
body {
    background: url("css/BulletinBoard_background.jpg") repeat-y 50% 0 #e3e3e3;
    color: #434445;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 100%;
    line-height: 1.3;
    margin: 0 auto;
    min-width: 1000px;
    position: relative;
    width: 100%;
}

/*--------------------------------------------------------------------------------*/

.b-header {
    height: 151px;
    background: url("css/BulletinBoard_header.jpg") no-repeat 50% 0;
    /*color: white;*/
    /*font-size: 200%;*/
}

.b-header_content {
    padding-left: 45px;
    padding-right: 45px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.b-logo {
    color: #c1c1c1;
    font: 21px WarHelios, "Arial Narrow", arial, sans-serif;
    display: block;
    min-height: 92px;
    letter-spacing: 1.7px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 0 1px rgba(0, 0, 0, 0.93), 0 0 10px rgba(255, 0, 6, 0.22);
    top: 13px;
    width: 172px;
}

.b-logo span {
    color: #cd000e;
    display: block;
    font-size: 11px;
}

.b-content {
    padding-left: 45px;
    padding-right: 45px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11px;
    position: relative;
}

.b_ad {
    background-color: rgba(255, 255, 255, 0.33);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6) inset, 0 0 7px rgba(0, 0, 0, 0.13), 0 0 0 rgba(0, 0, 0, 0.1);
    margin: 0 17px 5px 0;
    padding: 10px;
    position: relative;
    transition: box-shadow 0.1s;
    overflow: hidden !important;
}

.b_ad_right_side {
    float: right;
    width: 10%;
    height: auto;
    background: #888;
}

.b_ad_left_side {
    overflow: hidden;
    height: auto;
}

.responds_list {
    cursor: pointer;
    border-bottom: dashed 1px;
}

.b_ad_text {
    margin-right: 5%;
    font-size: 12px;
}

.b-button_right {
    border: medium none;
    background: url("css/small-orange-button.png") no-repeat 100% 0;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 700;
    height: 27px;
    line-height: 27px;
    margin: 0 5px 0 2px;
    padding: 0 5px 1px;
    position: relative;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

.b_button_responds {

}

/*.b-button_right:hover {background-color: #3e8e41}*/
/*.b-button_right:active {*/
/*background-color: #3e8e41;*/
/*box-shadow: 0 5px #666;*/
/*transform: translateY(4px);*/
/*}*/

.b_ad_time_cr {
    line-height: 18px;
    font-size: 12px;
    color: #777;
    margin-right: 5%;
}
/*--RespondsListBlock--------------------------------------*/
.t_responds {
    border: 1px solid #d0d0d0;
    /*clear: both;*/
    margin: 0 100px 1px;
    /*min-width: 100%;*/
    /**width: 100%*/
}

.t_responds th {
    background: rgb(249, 249, 249);
    background: rgba(249, 249, 249, .8);
    color: #828282;
    font-size: 11px;
    font-weight: normal;
    line-height: 14px;
    /*padding: 8px 5px;*/
    vertical-align: middle;
    text-align: center
}

.t_responds td {
    background: #e8e8e7;
    background: rgba(255, 255, 255, 0.2);
    font-size: 11px;
    line-height: 16px;
    padding: 0px 5px
}

.t_responds td + td {
    font-size: 12px;
    text-align: center
}
/*----------------------------------------*/
.ui-dialog .ui-dialog-content {
    background: url("css/BulletinBoard_background.jpg");
    padding: 20px 27px 28px;
}
/*------------------------------------------------*/

/*FilterPanelCSS*/
.js-filters-zone-fakeblock {
    position: relative;
    z-index: 10;
}
.b-filters-zone {
    min-width: 1000px;
    padding-top: 25px;
    padding-bottom: 21px;
    position: relative;
    z-index: 10;
}
.b-filters {
    background-color: #e3e3e3;
    height: 65px;
    padding-left: 45px;
    padding-right: 45px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.b-filters:before {
    content: "";
    position: absolute;
    display: block;
    z-index: -2;
    left: 10px;
    right: 10px;
    top: 0;
    height: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1), 0px 0px 20px 0px rgba(0,0,0,0.05);
    border-radius: 100px 100px 100px 100px / 10px 10px 10px 10px;
}
.b-filters-bg {
    background: url("css/filters-bg.png") no-repeat 50% 0;
    height: 65px;
    position: relative;
    margin: 0 64px;
}
.b-filters-bg:before {
    content: '';
    background: url("css/filters-bg.png") no-repeat 100% -65px;
    display: block;
    height: 65px;
    left: -193px;
    position: absolute;
    top: 0;
    width: 193px;
}
.b-filters-wrapper {
    height: 65px;
    position: relative;
    margin: 0 -64px;
    z-index: 2;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.b-filters-wrapper {
    height: 65px;
    position: relative;
    margin: 0 -64px;
    z-index: 2;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.b-filters-content {
    clear: both;
    height: 65px;
    position: relative;
    zoom: 1;
}



